<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TUP-TABLE</title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/tup.css">
  <script src="../../dist/vue.js"></script>
  <script src='../../dist/tup.js'></script>
</head>

<body>
  <div id="app">
    <tup-table></tup-table>
  </div>

  <script>
    var resultDatas = [{
      "mon": 201701,
      "tradevolGj": 6650.75,
      "marketShareGj": "100",
    }, {
      "mon": 201702,
      "tradevolGj": 7327.51,
      "marketShareGj": "100",
    }, {
      "mon": 201703,
      "tradevolGj": 7802.84,
      "marketShareGj": "100",
    }, {
      "mon": 201711,
      "tradevolGj": 5061.45,
      "marketShareGj": "10.0304",
    }, {
      "mon": 201712,
      "tradevolGj": 5061.45,
      "marketShareGj": "10.0304",
    }];

    Vue.component('tup-table', {
      template: '<table class="tup-table"> <tr> <th v-for="column in columns">{{ column.title }}</th> </tr> <tr v-for="data in datas"> <td v-for="(col, index) in data">{{col}}</td> </tr> </table>',
      data: function () {
        return data
      }
    });

    var data = {
      columns: [{
        field: 'zd1',
        title: '字段1',
      }, {
        field: 'zd2',
        title: '字段2',
      }, {
        field: 'zd3',
        title: '字段3',
      }],
      datas: resultDatas,
    };

    // 创建根实例
    var table = new Vue({
      el: '#app',
      data: data,
    });

    // table.datas = [];
  </script>
</body>

</html>